@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #482922;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
}

/* Start of global styles for register form*/
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-container a{
    text-decoration: none;
    color: var(--primary-color);
}
.form-register {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-register a{
    text-decoration: none;
    color: var(--primary-color);
}

.form-register input {
    padding: 12px 14px;
    border: 1px solid var(--primary-color);
    line-height: normal;
    transition: border-color .1s ease-in-out;
}

.form-register button {
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.form-register button:hover {
    background-color: #331f1b;
}

/* End of global styles for register form*/

/* Start of global styles for login form*/
    .form-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-login input {
    padding: 12px 14px;
    border: 1px solid var(--primary-color);
    line-height: normal;
    transition: border-color .1s ease-in-out;
}

.form-login button {
    padding: .5rem 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.form-login button:hover {
    background-color: #331f1b;
}
/* End of global styles for login form*/

/* Start of global styles for header*/
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    border-bottom: #482922 .05rem solid;
}
.header-container a {
    text-decoration: none;
    color: var(--primary-color);
}
.list-container {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    color: var(--primary-color);
}

.logo {
    fill: var(--primary-color);
    font-size: 2rem;
}
.icono-user {
    width: 35px;
    height: 35px;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1100;
}

.hamburger-icon line {
    stroke: #482922;
    stroke-width: 3;
}

.user-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 1100;
}

.user-dropdown button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.user-dropdown a {
    text-decoration: none;
    color: white;
}

/* Estilos para el menú en pantallas pequeñas */
@media (max-width: 768px) {
    .header-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: sticky;
    }

    .menu-toggle {
        display: block;
    }

    .list-container {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 6rem;
        width: 100%;
        background-color: white; 
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
    }
    .list-container.show {
        display: flex;
    }
    .list-container li {
        margin: 1rem 0;
    }
    .list-container a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 1.5rem;
    }

    .user-toggle {
        display: block;
    }

    .user-dropdown {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 6rem;
        width: 100%;
        background-color: white; 
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
    }

    .user-dropdown.show {
        display: flex;
    }
}
/* End of global styles for header*/

